body {
    font-size: 40px;
}

/* ====================================================== */

.block,
.inline {
    background: #e0d5c5;
}

.inline {
    width: 1000px;
    height: 100px;
}

.img {
    width: 1000px;
}

