.contact__top {
    display: flex;
    align-items: center;
    gap: 40px 40px;
    margin-bottom: 82px;
}

.contact__top-text {
    font-size: 18px;
    line-height: 23px;
    max-width: 423px;
}

.contact__inner {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 60px 0 100px 80px;
    background: var(--accent-color-3);
    border-radius: 45px;
}

.contact__form {}

.contact__body {
    max-width: 556px;
    width: 100%;
}

.contact__form-radio {
    display: flex;
    gap: 35px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 23px;
}

.contact__label-radio {
    display: flex;
    gap: 14px;
    align-items: center;
    font-size: 16px;
    line-height: 28px;
}

.contact__label-radio input {
    width: 28px;
    height: 28px;
}

.contact__name-label,
.contact__email-label,
.contact__message-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    line-height: 28px;
}

.contact__message-label {
    margin-bottom: 40px;
}

.contact__name-label input,
.contact__email-label input,
.contact__message-label textarea {
    padding: 18px 30px;
    border: 1px solid var(--text-dark);
    border-radius: 14px;
    background: var(--text-light);
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 23px;
}

.contact__name-label input::placeholder,
.contact__email-label input::placeholder,
.contact__message-label textarea::placeholder {
    font-size: 18px;
    line-height: 23px;
}

.contact__button {
    width: 100%;
    background: var(--text-dark);
    color: var(--text-light);
}

.contact__img img {
    width: 100%;
}