.footer {
    color: var(--text-light);
}

.footer__inner {
    border-radius: 45px 45px 0px 0px;
    background: var(--accent-color-1);
    padding: 55px 60px 50px;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px 15px;
    margin-bottom: 66px;
}

.footer__nav-list {
    display: flex;
    align-items: center;
    gap: 15px 40px;
    color: var(--text-light);
}

.footer__nav-link {
    vertical-align: middle;
    font-size: 18px;
    line-height: 23px;
    text-decoration-line: underline;
    padding: 5px 0;
}

.footer__nav-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__nav-link::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -6px;
    z-index: -1;
    width: 17px;
    height: 17px;
    background: var(--accent-color-2);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.footer__nav-link:hover::before {
    opacity: 1;
}

.footer__body {
    display: flex;
    gap: 37px 30px;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-bottom: 49px;
    border-bottom: 1px solid var(--text-light);
}

.footer__left {
    max-width: 332px;
    width: 100%;
}

.footer__left-title {
    display: inline-block;
    padding: 0 7px;
    border-radius: 7px;
    color: var(--text-dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    background: var(--accent-color-2);
    margin-bottom: 27px;
}

.footer__left-email,
.footer__left-tel,
.footer__left-address {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;

    transition: var(--transition);
}

.footer__left-address {
    margin-bottom: 0;
}

.footer__left-tel:hover {
    color: var(--accent-color-2);
}

.footer__form {
    display: flex;
    padding: 58px 40px;
    gap: 22px 20px;
    background: #292A32;
    border-radius: 14px;
}

.footer__form input {
    padding: 22px 35px;
    border: 1px solid var(--text-light);
    border-radius: 14px;
    background: transparent;
    font-size: 18px;
    line-height: 23px;
    color: var(--text-light);
}

.footer__form input::placeholder {
    font-size: 18px;
    line-height: 23px
}

.footer__button {
    font-size: 20px;
    line-height: 28px;
    background: var(--accent-color-2);

    transition: var(--transition);
}

.footer__button:hover {
    background: var(--accent-color-3);
    color: var(--accent-color-1);
}

.socials {
    display: flex;
    gap: 20px;
}

.socials--mobile {
    display: none;
}

.socials__linkedin,
.socials__twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    background: var(--text-light);

    transition: var(--transition);
}

.socials__linkedin path,
.socials__twitter path {
    transition: var(--transition);
}

.socials__facebook {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;
    transition: var(--transition);
}

.socials__linkedin:hover path,
.socials__twitter:hover path {
    fill: var(--accent-color-2);
}

.socials__facebook:hover {
    background: var(--accent-color-2);
}

.socials__twitter {
    padding: 3px 0 0 2px;
}

.footer__bottom {
    display: flex;
    gap: 15px 40px;
}

.footer__bottom-text {
    font-size: 18px;
    line-height: 28px;
}

.footer__bottom-link {
    font-size: 18px;
    line-height: 28px;
    text-decoration: underline;

    transition: var(--transition);
}

.footer__bottom-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__bottom-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    z-index: -1;
    width: 17px;
    height: 17px;
    background: var(--accent-color-2);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.footer__bottom-link:hover::before {
    opacity: 1;
}