@import "reset.css";
@import "swiper-bundle.min.css";
@import "fonts.css";
@import "global.css";
@import "header.css";
@import "hero.css";
@import "services.css";
@import "studies.css";
@import "process.css";
@import "team.css";
@import "contact.css";
@import "footer.css";

:root {
    --accent-color-1: #191A23;
    --accent-color-2: #B9FF66;
    --accent-color-3: #F3F3F3;
    --text-light: #FFFFFF;
    --text-dark: #000000;
    --transition: all .4s;
}

/* ================================================= */

.companies {
    position: relative;
    z-index: -1;
}

.companies__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companies__marquee {
    display: none;
    overflow: hidden;
}

.companies__item {
    filter: grayscale();
}



/* ============================================= */

.testimonials__top {
    display: flex;
    align-items: center;
    gap: 30px 40px;
    margin-bottom: 82px;
}

.testimonials__top-text {
    max-width: 473px;
    font-size: 18px;
    line-height: 23px;
}

.testimonials__inner {
    padding: 84px 0 72px;
    background: var(--accent-color-1);
    border-radius: 45px;
}

.testimonials__slider {
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-items: center;
}

.testimonials__slide {
    max-width: 606px;
    font-size: 18px;
}

.testimonials__comment {
    padding: 48px 52px;
    border: 2px solid var(--accent-color-2);
    border-radius: 45px;
    background: transparent;
    color: var(--text-light);
    margin-bottom: 48px;
    position: relative;
}

.testimonials__comment::before,
.testimonials__comment::after {
    content: '';
    position: absolute;
    left: 11%;
    bottom: -61px;
    border: 30px solid transparent;
    border-top: 30px solid var(--accent-color-2);
}

.testimonials__comment::after {
    border-top: 30px solid var(--accent-color-1);
    bottom: -58.3px;
}

.testimonials__comment-text {
    line-height: 23px;
}

.testimonials__info {
    margin-left: 80px;
}

.testimonials__slide-name {
    color: var(--accent-color-2);
    margin-bottom: 5px;
}

.testimonials__slide-descr {
    color: var(--text-light);
}

.testimonials__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 173px;
}

.testimonials__prev,
.testimonials__next {
    display: flex;
    align-items: center;
    max-width: 51px;
    cursor: pointer;

    transition: var(--transition);
}

.testimonials__prev:hover path,
.testimonials__next:hover path{
    fill: var(--accent-color-2);
}

.testimonials__pagination {
    display: flex;
    flex-wrap: nowrap;
}

.testimonials__pagination .swiper-pagination-bullet {
    vertical-align: middle;
    background: url("../img/icons/pagination.svg") 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: url("../img/icons/pagination-active.svg") 50% 50% no-repeat;
}


/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
/* =========================================================== */

@media (max-width: 1200px) {

    .team__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 40px;
    }

    /* - - - - - - - -  */

    .footer__body {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        display: none;
    }

    .socials--mobile {
        display: flex;
    }

    .footer__bottom {
        flex-direction: column;
        text-align: center;
    }

}

@media (max-width: 1100px) {

    .container {
        padding: 0 20px;
    }

    /* - - - - - - - */

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        background: #f3f3f3;
        font-size: 5vw;

        visibility: hidden;
        opacity: 0;
        transform: translateY(-50%);
        transition: var(--transition);
    }

    .body--opened-menu .nav {
        padding: 16vw 30px 200px;
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
        padding-bottom: 20vh;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav__link {
        font-size: 5vw;
    }

    .body--opened-menu .button {
        padding: 2vw 3vw;
    }

    .burger-icon {
        display: flex;
        z-index: 11;
    }

    /* - - - - - - -  */

    .companies__desktop {
        display: none;
    }

    .companies__marquee {
        display: flex;
        overflow: hidden;
        gap: 37px;
        margin-bottom: 20px;
    }

    .companies__list {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        gap: 37px;
    }

    .marquee {
        animation: scroll 20s linear infinite;
    }

    .reverce {
        animation-direction: reverse;
    }

    .companies__marquee:hover .marquee {
        animation-play-state: paused;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-100% - 37px));
        }
    }

    /* - - - - - - - - - */

    .services__bottom-img img {
        right: 3.9%;
    }

    /* - - - - - - - - - */

    .studies__top {
        margin-bottom: 140px;
    }

    .studies__inner {
        background: transparent;
        padding: 0;
        border-radius: 0;
        min-height: 0;
    }

    .studies__list {
        gap: 20px;
    }

    .studies__slide {
        padding: 42px 50px;
        border-radius: 45px;
        background: var(--accent-color-1);
    }

    /* - - - - - - - */

    .contact__inner {
        padding: 60px 80px 100px;
        justify-content: center;
    }

    .contact__form {
        justify-self: center;
    }

    .contact__img {
        display: none;
    }

}

@media (max-width: 1000px) {

    .companies__list {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        align-content: center;
    }

    .companies__item {
        justify-self: center;
    }

    /* - - -  - - - - - */

    .services__top {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .services__item {
        min-height: 318px;
    }

    .services__title {
        max-width: 180px;
    }

    .services__list {
        grid-template-columns: 1fr;
    }

    .services__item-img {
        justify-self: end;
    }

    .services__bottom-img img {
        display: none;
    }

    /* - - - - - - - - - */

    .studies__top {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .services__top-text {
        font-size: 16px;
        line-height: 24px;
    }

    /* - - - - - - - - - */

    .process__top {
        margin-bottom: 50px;
        flex-direction: column;
        text-align: center;
    }

    .accordion-list__control-counter {
        font-size: 55px;
    }

    .accordion-list__control-title {
        font-size: 25px;
    }

    /* - - - - - - - - */

    .team__top {
        flex-direction: column;
        text-align: center;
    }

    /* - - - - - - - - */

    .testimonials__top {
        text-align: center;
        flex-direction: column;
    }

    /* - - - - - - - - */

    .contact__top {
        flex-direction: column;
        text-align: center;
        margin-bottom: 82px;
    }

    .contact__body {
        margin: 0 auto;
    }

    /* - - - - - - - - */

    .footer__top {
        flex-direction: column;
    }
}

@media (max-width: 900px) {

    .main__services {
        margin-bottom: 120px;
    }

    /* - - - - - - - -  */

    .hero__inner {
        justify-content: center;
        align-content: center;
    }

    .hero__info {
        align-items: center;
    }

    .hero__title {
        font-size: 50px;
    }

    .hero__img {
        display: none;
    }

    .hero__img--mobile {
        display: block;
        max-width: 360px;
        align-self: center;
    }

    .hero__button {
        max-width: 390px;
        width: 100%;
    }

    /* - - - - - - -  */

    .accordion-list__control {
        padding: 35px 50px;
    }

    .accordion-list__control-counter {
        font-size: 50px;
    }

    .accordion-list__control-title {
        font-size: 23px;
    }
}

@media (max-width: 800px) {

    .main__hero,
    .main__services,
    .main__companies,
    .main__studies,
    .main__process,
    .main__team,
    .main__testimonials {
        margin-bottom: 80px;
    }

    .studies__slide {
        font-size: 16px;
        line-height: 24px;
    }

    /* - - - - - - -  */

    .accordion-list__control {
        padding: 35px 40px;
    }

    .accordion-list__control-counter {
        font-size: 40px;
        line-height: 60px;
    }

    .accordion-list__control-title {
        font-size: 20px;
        line-height: 30px;
    }

    .accordion-list__control-icon {
        height: 40px;
        width: 40px;
    }

    .accordion-list__control-icon span,
    .accordion-list__control-icon span::after {
        width: 4.64px;
        height: 15.97px;
    }

    /* - - - - - - - - */

    .team__button {
        align-self: center;
    }

    .team__content {
        display: flex;
        justify-content: center;
    }

    .team__list {
        grid-template-columns: 1fr;
        max-width: 500px;
    }

    /* - - - - - - - -  */

    .testimonials__slider {
        gap: 60px;
    }

    .testimonials__comment {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonials__comment::before,
    .testimonials__comment::after {
        left: 13%;
    }

    .testimonials__info {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonials__nav {
        gap: 100px;
    }

    /* - - - - - - - -  */

    .contact__form-radio {
        padding: 0 52px;
        justify-content: space-between;
    }

    /* - - - - - - - - - */

    .footer__inner {
        padding: 50px 20px;
    }

    .footer__nav-list {
        flex-direction: column;
    }

    .footer__nav-link {
        text-decoration: none;
    }

    .footer__form {
        flex-direction: column;
    }

}

@media (max-width: 600px) {

    .main__hero,
    .main__services,
    .main__companies,
    .main__studies,
    .main__process,
    .main__team,
    .main__testimonials {
        margin-bottom: 60px;
    }

    .h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .main__contact {
        margin-bottom: 90px;
    }

    .modal__window {
        padding: 40px 20px 50px;
        width: clamp(350px, 90%, 584px);
    }

    .modal__cancel {
        right: 20px;
        top: 20px;
    }

    .modal__name-label input,
    .modal__email-label input,
    .modal__message-label textarea {
        margin-bottom: 15px;
    }

    .modal__message-label {
        margin-bottom: 20px;
    }

    /* - - - - - - - */

    .header {
        padding: 30px 0 41px;
    }

    .body--opened-menu .nav {
        padding-bottom: 100px;
    }

    /* - - - - - - -  */

    .hero__inner {
        margin-bottom: 60px;
    }

    .hero__info {
        gap: 0;
    }

    .hero__title {
        margin-bottom: 19px;
    }

    .hero__img--mobile {
        margin-bottom: 20px;
    }

    .hero__text {
        margin-bottom: 40px;
    }

    .nav {
        font-size: 38px;
        padding: 25vh 15px 20px;
    }

    /* - - - - - - - */

    .services__top {
        gap: 30px;
        margin-bottom: 42px;
    }

    .services__inner {
        margin-bottom: 74.5px;
    }

    .services__list {
        gap: 34px 40px;
    }

    .services__item {
        gap: 27px 15px;
        grid-template-columns: 0.5fr 1fr;
    }

    .services__item:last-child {
        margin-bottom: 0;
    }

    .services__item-titles {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .services__item-title {
        font-size: 26px;
        line-height: 33px;
    }

    .services__item-el {
        max-width: 41px;
    }

    .services__item-el span {
        display: none;
    }

    .services__item-img {
        grid-row: 2 / 3;
    }

    .services__bottom {
        padding: 50px;
        display: block;
    }

    .services__bottom-title {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 20px;
    }

    .services__bottom-text {
        font-size: 16px;
        line-height: 24px;
    }

    .services__bottom-button {
        max-width: 290px;
    }

    /* - - - - - - - - */

    .studies__top {
        gap: 30px;
        margin-bottom: 42px;
    }

    .studies__top-text {
        font-size: 16px;
        line-height: 24px;
    }

    .studies__inner {
        padding: 0;
    }

    .studies__slide-text {
        font-size: 16px;
        line-height: 24px;
    }

    .studies__slide-link {
        font-size: 20px;
        line-height: 28px;
    }

    /* - - - - - - - - */

    .process__top {
        margin-bottom: 34px;
    }

    .process__top-text {
        font-size: 16px;
        line-height: 24px;
    }

    .accordion-list__control {
        padding: 30px 30px;
    }

    .accordion-list__control-counter {
        font-size: 30px;
        line-height: 38px
    }

    .accordion-list__control-title {
        font-size: 18px;
        line-height: 23px;
    }

    .accordion-list__control-icon {
        height: 30px;
        width: 30px;
    }

    .accordion-list__control-icon span,
    .accordion-list__control-icon span::after {
        width: 3px;
        height: 12.97px;
    }

    .accordion-content__text {
        font-size: 16px;
        line-height: 24px;
    }

    /* - - - - - - - - */

    .team__top {
        margin-bottom: 42px;
    }

    .team__top-text {
        font-size: 16px;
        line-height: 24px;
    }

    .team__list {
        gap: 30px 40px;
    }

    .team__item-name {
        font-size: 18px;
        line-height: 23px;
    }

    .team__item-descr {
        font-size: 16px;
        line-height: 24px;
    }

    .team__item-text {
        font-size: 16px;
        line-height: 24px
    }

    .team__button {
        max-width: 390px;
        width: 100%;
    }

    /* - - - - - - - - */

    .testimonials__inner {
        padding: 30px 10px 60px;
    }

    .testimonials__top {
        margin-bottom: 42px;
    }

    .testimonials__top-text {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonials__comment {
        padding: 30px;
    }

    .testimonials__comment::before,
    .testimonials__comment::after {
        left: 13%;
    }

    .testimonials__nav {
        gap: 60px;
    }

    /* - - - - - - - - */

    .contact__inner {
        padding: 40px 30px;
        margin-bottom: 30px;
    }

    .contact__top {
        gap: 30px 40px;
        margin-bottom: 42px;
    }

    .contact__top-text {
        font-size: 16px;
        line-height: 24px;
    }

    .contact__form {
        max-width: 330px;
        margin: 0 auto 10px;
    }

    .contact__form-radio {
        max-width: 400px;
        margin: 0 auto 40px;
        padding: 0 22px;
        font-size: 16px;
        line-height: 20px;
    }

    .contact__name-label,
    .contact__email-label,
    .contact__message-label {
        font-size: 14px;
        line-height: 18px;
    }

    .contact__message-label {
        margin-bottom: 0;
    }

    .contact__message-label textarea {
        margin-bottom: 0;
    }

    .contact__button--desktop {
        display: none;
    }

    .contact__button--mobile {
        display: flex;
    }

    /* - - - - - - - - */

    .footer__container {
        margin: 0;
        padding: 0;
    }

    .footer__inner {
        border-radius: 0;
    }

    .footer__top {
        gap: 37px 15px;
        margin-bottom: 37px;
    }

    .footer__nav {
        font-size: 16px;
        line-height: 24px;
    }

    .footer__body {
        margin-bottom: 37px;
        padding-bottom: 37px;
    }

    .footer__left-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 37px;
    }

    .footer__left-email,
    .footer__left-tel,
    .footer__left-address {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .footer__left-address {
        margin-bottom: 0;
    }

    .footer__form {
        padding: 30px 30px;
    }

    .footer__form input {
        font-size: 16px;
        line-height: 24px;
    }

    .footer__form input::placeholder {
        font-size: 16px;
        line-height: 24px;
    }

    .footer__bottom-link,
    .footer__bottom-text {
        font-size: 16px;
        line-height: 24px;
    }

}

@media (max-width: 450px) {

    .hero__title {
        font-size: 43px;
    }

    .hero__text {
        font-size: 16px;
        line-height: 24px;
    }

    /* - - - - - - - -  */

    .testimonials__comment::before,
    .testimonials__comment::after {
        left: 17%;
    }

    .testimonials__nav {
        gap: 30px;
    }

}